<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622154662804-46f1u8lvcgpvfbpperadpn23uvf3ds76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622154662804-46f1u8lvcgpvfbpperadpn23uvf3ds76</string>
	<key>API_KEY</key>
	<string>AIzaSyBuG11x--FZA_eAgYuCp2n3IOeWUeKokwU</string>
	<key>GCM_SENDER_ID</key>
	<string>622154662804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jeremy.sideprojectgg</string>
	<key>PROJECT_ID</key>
	<string>sideprojectgg-80bce</string>
	<key>STORAGE_BUCKET</key>
	<string>sideprojectgg-80bce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:622154662804:ios:b3676600c739fe23b78581</string>
</dict>
</plist>
